@import "partials/functions";

.mk {
  .content {
    padding: 0;

    .wrapper {
      overflow: initial;

      @media #{$small-and-down} {
        width: 100%;
      }

      @media #{$medium-and-up} {
        width: 95%;
      }
    }
  }

  .open {
    .card__content {
      padding: 20px 30px 12px;

      @media #{$small-and-down} {
        padding: 6px 6px 6px;
      }

      box-shadow: 0px 2px 2px rgba(0,0,0,0.1),
        0px 2px 2px rgba(0,0,0,0.1),
        0px 4px 4px rgba(0,0,0,0.1),
        0px 8px 8px rgba(0,0,0,0.1),
        0px 16px 16px rgba(0,0,0,0.1),
        0px 32px 32px rgba(0,0,0,0.1),
        0px 64px 64px rgba(0,0,0,0.1);
    }

    .card__caption, .card__copy, {
      max-width: none;
      width: 100%;
    }

    .card__content  {
      width: 87%;
      max-width: 1280px;

      @media only screen and (max-height: 601px) {
        margin-top: 200px;
      }

      @media #{$small-and-down} {
        width: 100%;
      }

      @media #{$medium-and-up} {
        width: 92%;
      }

      @media #{$large-and-up} {
        width: 85%;
      }

      @media #{$extra-large-and-up} {
        width: 80%;
      }
    }
  }

  .meta__author {
    padding-left: 0;
  }
}

.card-wrapper {
  padding-top: 5em;

  .card {
    margin-left: 0;
  }

  .card:not(:last-child) {
    margin-right: 0;

    @media #{$large-and-up} {
      margin-right: 6.5%;
    }

    @media #{$extra-large-and-up} {
      margin-right: 11.5%;
    }
  }
  
  .card {
    background: transparent;
    height: 500px;
    width: 23%;

    @media #{$small-and-down} {
      height: 350px;
      width: 100%;
    }

    @media #{$medium-and-up} {
      width: 100%;
    }

    @media #{$large-and-up} {
      width: 28%;
    }

    @media #{$extra-large-and-up} {
      width: 25%;
    }

    @include materialBounce();

    box-shadow: 0 1em 8em rgba(black, 0.44);
    border-radius: 5px;
    overflow: hidden;

    &.open {
      box-shadow: 0 1em 8em rgba(black, 0.05);
      overflow: visible;
    }
  }
}

.credits {
  opacity: 1;

  @include materialBounce();

  &.hidden {
    opacity: 0;
  }

  &.top {
    margin-top: 2em;
  }
}
