@import "partials/functions";
@import "partials/colors";
@import "partials/typography";
@import "partials/grid";
@import "partials/icons";

body {
  background-color: #f5f5f5;
  font-family: 'Rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Nixie One', serif;
}

[ng-click] {
  cursor: pointer;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: #aaa;
  @include materialBounce(all, 150ms);

  &:hover {
    color: #444;
  }
}

.material-bounce {
  @include materialBounce();
}

.root-loader{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 2000;

  .progress {
    margin-top: 0;
  }
}

hr {
  border:none;
  outline:none;
  height:1px;
  background: #ccc;
}

ui-view {
  display:block;
}

ui-view[name="navbar"] {
  max-height: 0px;
  @include materialBounce(max-height, 200ms);

  &.loggedIn {
    max-height: 200px;
  }
}

.medium-logo {
  margin-top: 2em;
  max-width: 350px;
  opacity: 0.7;
  display: inline-block;
}

.dashing{
  display: inline;
}

.dashing::before, .dashing::after {
  content: "   ";
  height:1px;
  width: 0.8em;
  margin: 13px;
  background:#a69695;
  display: inline-block;
  vertical-align: middle;
}
