<header class="admin-nav" ng-cloak>
  <div class="container">
    <a class="button-collapse top-nav full hide-on-medium-and-up"
      data-activates="slide-out" data-closeonclick="true" data-sidenav="left">
      <ng-md-icon class="ng-md-icon" icon="menu" style="fill: #444;" size="28"></ng-md-icon>
    </a>
  </div>
  
  <ul id="slide-out" class="side-nav fixed">
    <li ng-repeat="item in vm.menu | orderBy: 'id'"
        ng-class="{'bold': !item.subMenu, 'no-padding': item.subMenu, 'active': vm.active.id === item.id} ">
      <a ng-if="item.name" ng-href="{{ item.name }}">{{ item.text }}</a>
      <ul ng-if="item.subMenu" data-collapsible="accordion" class="collapsible collapsible-accordion" watch>
        <li class="bold" ng-class="{'active': vm.active.id === item.id}">
          <a class="collapsible-header" ng-class="{'active': vm.active.id === item.id}">{{ item.text }}</a>
          <div class="collapsible-body">
            <ul>
              <li ng-repeat="sub in item.subMenu"
                  ng-class="{'active': vm.active.subId === sub.id}">
                  <a ng-href="{{ sub.name }}">{{ sub.text }}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</header>
