<div class="article-main-image-con"
  ngf-drop
  ng-model="vm.articleImage"
  ngf-pattern="'image/*'"
  accept="image/*"
  ngf-multiple="false"
  ngf-max-size="20MB">
  <div class="article-main-image center"
    ngf-select
    ng-model="vm.articleImage"
    ngf-background="vm.articleImage || vm.activeArticle.imageUrl"
    ngf-pattern="'image/*'"
    accept="image/*"
    ngf-multiple="false"
    ngf-max-size="20MB">
  </div>
  <div class="article-main-title-con">
    <div class="article-main-title trans">
      <div input-field>
        <input type="text" class="article-category" ng-model="vm.activeArticle.category">
        <label>Category</label>
      </div>
      <div input-field>
        <input type="text" class="article-title" ng-model="vm.activeArticle.title" length="60">
        <label>Article Title</label>
      </div>
    </div>
  </div>
</div>

<div class="article-content-con row white">
  <div class="extra-padding clearfix">
    <div class="col s6">
      <span class="author">By @{{vm.activeArticle.author.membersDisplayName}}</span>
      <span class="reading-time">Reading Time: {{vm.activeArticle.readingTime}} Minutes</span>
    </div>
    <div class="col s6 right-align">
      <a class="btn-floating btn-large waves-effect waves-light red"
        style="margin-right: 20px;"
        ng-click="vm.syncAuthor();"
        tooltipped data-position="top" data-delay="150" data-tooltip="Change Author">

        <ng-md-icon icon="perm_identity" style="fill: #fff" size="28"></ng-md-icon>
      </a>
      <a class="btn-floating btn-large waves-effect waves-light red"
        style="margin-right: 20px;"
        ng-click="vm.restoreArticle();"
        tooltipped data-position="top" data-delay="150" data-tooltip="Restore To Original">
        <ng-md-icon icon="restore" style="fill: #fff" size="28"></ng-md-icon>
      </a>
      <a class="btn-floating btn-large waves-effect waves-light red"
        style="margin-right: 20px;"
        ng-click="vm.deleteArticle();"
        tooltipped data-position="top" data-delay="150" data-tooltip="Delete Article">
        <ng-md-icon icon="delete" style="fill: #fff" size="28"></ng-md-icon>
      </a>
      <a class="btn-floating btn-large waves-effect waves-light red"
        ng-click="vm.editArticle();"
        tooltipped data-position="top" data-delay="150" data-tooltip="{{vm.toolTip}}">
        <ng-md-icon icon="{{vm.actionIcon}}" style="fill: #fff" size="28"></ng-md-icon>
      </a>
    </div>
  </div>

  <div class="col s12 flow-text">
    <textarea ng-model="vm.activeArticle.content" redactor></textarea>
  </div>
</div>
