div.login-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.login-form form {
  display:inline-block;
  text-align: left;
  max-width: 450px;
  width: 100%;
}

.login-form {
  text-align: center;

  .show-con {
    position: relative;
  }

  .show-pw {
    position: absolute;
    right:1em;
    top: 1em;
    font-size: 90%;
  }
}

.login-wrapper {
  padding: 2em 0;
}
